@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Oswald:wght@200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rowdies:wght@300&family=Satisfy&family=Yellowtail&display=swap');

body {
    position: absolute;
}

#logo2 {
    position: relative;
}

#logo2 {
    position: relative;
    left: 137px;
    top: 18px;
    height: 19px
}

#navbar1 {
    color: rgb(223, 226, 226);
}

#navbar1:hover {
    color: white;
}
.pxsize{
    height: 560px;
    width: 1681px;
}

#designP1 {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: xx-large;
}

#zoompic1:hover {
    transform: scale(1.2);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
#zoompic2:hover{
    transform: scale(1.2);

}

#zoompic1h3{
    font-family: 'Oswald', sans-serif;
    color: white;
}
#zoompic2h3{
    font-family: 'Oswald', sans-serif;
    color: white;
}
